<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Users</h1>
    <div class="col-md-9">
    	<body>
    		<form ng-submit="user.list()">
	    		<table BORDER="0"> 
	    		<tr>
	    		  <th>User:</th>
	    		  <th><input type="username" ng-model="user.username"></th>
	    		</tr>
	    		<tr>
	 			  <th>Password:</th>
	 			  <th><input type="password" ng-model="user.password"></th>
	 			</tr>
	 			<tr>
	 			  <th>Email:</th>
	 			  <th><input type="email" ng-model="user.email"></th>
	 			</tr>
	 			<tr>
	 				<th>Active:</th>
	 				<th><input type="checkbox" ng-model="user.is_active" value="true"></th>
	 			</tr>
	 			<tr>
	 				<th>Super User:</th>
	 				<th><input type="checkbox" ng-model="user.is_superuser" value="true"></th>
	 			</tr>
	 			</table>
 			<button type="submit">Create</button>
 			</form>
    	</body>
    </div>
    </div>
</div>
