<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Accounts</h1>
    <div class="col-md-9">
      <p>
      Aquí se aplican los cambios a las cuentas
      </p>
    </div>
  </div>
</div>

