<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Home</h1>
    <div class="col-md-9">
      <ul>
        <li><a href="#/users">Usuarios</a></li>
        <li><a href="#/accounts">Accounts</a></li>
      </ul>
    </div>
    </div>
</div>
