<div class="container">
	<form class="l-form-login" ng-submit="auth.login()">
	  <h2>Por favor ingrese sus datos</h2>
	  <input type="email" ng-model="auth.email" class="form-control l-top-input" placeholder="Email" required autofocus>
	  <input type="password" ng-model="auth.password" class="form-control l-bottom-input" placeholder="Contraseña" required>
	  <button class="l-top-margin btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
	</form>
</div>
