<!DOCTYPE html>
<html lang="es" ng-app>
<head>
<meta charset="utf-8">
<meta name="viewport" content="with=device-width, initial-scale=1.0, user-scalable=no">
<title>Bienvenido</title>
<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/static/css/app.css">
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="menuCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ERP</a>
    </div>
    <nav class="hidden-xs" ng-hide="!auth.session">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="auth.logout(); isCollapsed = true">Log Out</a></li>
      </ul>
    </nav>
    <div collapse="isCollapsed" ng-hide="!auth.session">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="auth.logout(); isCollapsed = true">Log Out</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="l-header-placeholder"></div>

<div role="main" ng-view></div>
<script data-main="/static/js/main" src="/static/bower_components/requirejs/require.js"></script>
</body>

</html>