.nav, .pagination, .carousel, .panel-title a { cursor: pointer;}

.l-header-placeholder {
    height: 50px;
}


.l-form-login {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.l-top-margin {
    margin-top:15px;
}


.l-top-input {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0%;
    border-bottom: 0px;
}

.l-bottom-input {
    border-top-left-radius: 0px;
    border-top-right-radius: 0%;
}